#### ARTIKELEINSENDUNG  ####<br/>
<br>
<hr><br>
-- Name:<br>
--------------------------------------------------------------------<br>
<b>{{ entry.autor }}</b><br><br>

-- E-Mail:<br>
--------------------------------------------------------------------<br>
<b>{{ entry.author.email }}</b><br><br>

-- Ueberschrift:<br>
--------------------------------------------------------------------<br>
<b>{{ entry.title }}</b><br><br>

-- Inhalt:<br>
--------------------------------------------------------------------<br>
<b>{{ entry.text }}</b><br><br>

-- Quellen:<br>
--------------------------------------------------------------------<br>
<b>{{ entry.sources }}</b><br><br>

-- Zeitstart - Zeitende:<br>
--------------------------------------------------------------------<br>
<b>{{ entry.time_start }} - {{ entry.time_end }}</b><br/><br/>
-- Koordinaten:<br>
--------------------------------------------------------------------<br>
<b>{{ entry.location }}</b><br><hr>