#### ARTIKELEINSENDUNG  ####<br>
<br>
<hr><br>
-- Name:<br>
--------------------------------------------------------------------<br>
<b>{{ story.author.first_name }} {{ story.author.last_name }}</b><br>
<br>
-- E-Mail:<br>
--------------------------------------------------------------------<br>
<b>{{ authorEmail }}</b><br>
<br>
-- Ueberschrift:<br>
--------------------------------------------------------------------<br>
<b>{{ story.title }}</b><br>
<br>
-- Inhalt:<br>
--------------------------------------------------------------------<br>
<b>{{ story.text }}</b><br>
<br>
-- Quellen:<br>
--------------------------------------------------------------------<br>
<b>{{ story.sources }}</b><br>
<br>
-- Zeitstart - Zeitende:<br>
--------------------------------------------------------------------<br>
<b>{{ story.time_start }} - {{ story.time_end }}</b><br>
<br>
-- Koordinaten:<br>
--------------------------------------------------------------------<br>
<b>{{ story.location }}</b><br>
<hr><br>
-- Admin-Link:<br>
--------------------------------------------------------------------<br>
<b><a href="{{ adminLink }}">{{ adminLink }}</a></b>
<hr>